<!doctype html>
<html>

<head>
  <title></title>

  <!-- semantic UI -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
</head>
  
<body>
  
  <header class="ui raised segment">
    <div class="ui secondary menu">
    <!--logo-->
    <a href="/">
      <img src="/imgs/tklogo.png" alt="tk logo" height="60px"/>  
    </a>
    <!--menu-->
    <div class="ui pointing dropdown link item">
      <span class="text">Scarves</span>
      <i class="dropdown icon"></i>
      <div class="menu">   
        <div class="item">Long Scarf</div>
        <div class="item">Infinity Scarf</div>
      </div>
    </div>
    <div class="ui pointing dropdown link item">
      <span class="text">Accessories</span>
      <i class="dropdown icon"></i>
      <div class="menu">   
        <div class="item">Hats</div>
        <div class="item">Headbands</div>
        <div class="item">Mittens</div>
      </div>
    </div>
    <div class="ui pointing dropdown link item">
      <span class="text">Socks</span>
      <i class="dropdown icon"></i>
      <div class="menu">   
        <div class="item">Ankle Socks</div>
        <div class="item">Calf Socks</div>
      </div>
    </div>
    <a class="item">Blankets</a>

    <div class="right menu">
      <!--search-->
      <div class="item">
        <div class="ui icon input">
          <input type="text" placeholder="Search...">
          <i class="search link icon"></i>
        </div>
      </div>

      <!--signin, fav, bag-->
      <a href="/login" class="ui item">Sign In</a>
      <i class="empty heart icon"></i>
      <i class="shopping bag icon"></i>
    </div>
    </div>
    
  </header>
  
  {{{body}}}
  
  <footer>
    <ul>
      <li>About Us</li>
      <li>Contact Us</li>
    </ul>

    <i class="instagram icon"></i>
    <i class="facebook square icon"></i>
    <i class="twitter square icon"></i>

    <p>&copy; 2016 TK Crafts</p>
  </footer>
   
  
  <!-- jquery -->
  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
  
  <!-- semantic ui js -->
  <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
  
</body>
</html>