<div class="ui center aligned basic segment">
  <div class="ui left icon action input">
    <i class="search icon"></i>
    <input type="text" placeholder="Order #">
    <div class="ui blue submit button">Search Product</div>
  </div>
  <div class="ui horizontal divider">
    Or
  </div>
  <div class="ui teal labeled icon button">
    Create New Product
    <i class="add icon"></i>
  </div>
</div>
