<!--temporary-->
<img class="ui large rounded image" src="/imgs/ph.png">
<i class="empty heart icon"></i>
<h1 class="ui header">
  Product name<div class="sub header">$00.00</div>
</h1>

<h4 class="ui header">Color:</h4>

<h4 class="ui header">Size:</h4>

<h4 class="ui header">Qty:</h4>

<h>Details</h>
<p>A short description of what the product is</p>

<h>Content + Care</h>
<ul class="ui list">
  <li>Material</li>
  <li>Hand wash cold</li>
  <li>Lay flat to dry</li>
</ul>

<h>Size + Fit</h>
<ul class="ui list">
  <li>00" in circumference</li>
  <li>00" wide</li>
  <li>00"long</li>
</ul>